## A simple scatter plot
A simple scatter plot
In this example, you're going to make a scatter plot of female literacy vs fertility using data from the European Environmental Agency. This dataset highlights that countries with low female literacy have high birthrates. The x-axis data has been loaded for you as fertility and the y-axis data has been loaded as female_literacy.

Your job is to create a figure, assign x-axis and y-axis labels, and plot female_literacy vs fertility using the circle glyph.

After you have created the figure, in this exercise and the ones to follow, play around with it! Explore the different options available to you on the tab to the right, such as "Pan", "Box Zoom", and "Wheel Zoom". You can click on the question mark sign for more details on any of these tools.

Note: You may have to scroll down to view the lower portion of the figure.

##https://github.com/qalhata/Python-Scripts-Repo-on-Data-Science/blob/master/DatVis_Bokeh_1.py

In [51]:
#init
import pandas as pd
path = "K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_14_Plot\\data\\"
df=pd.read_csv(path+'literacy_birth_rate.csv')
df.columns

Index(['Country ', 'Continent', 'female literacy', 'fertility', 'population'], dtype='object')

In [52]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Continent</th>
      <th>female literacy</th>
      <th>fertility</th>
      <th>population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Chine</td>
      <td>ASI</td>
      <td>90.5</td>
      <td>1.769</td>
      <td>1.324655e+09</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Inde</td>
      <td>ASI</td>
      <td>50.8</td>
      <td>2.682</td>
      <td>1.139965e+09</td>
    </tr>
    <tr>
      <th>2</th>
      <td>USA</td>
      <td>NAM</td>
      <td>99</td>
      <td>2.077</td>
      <td>3.040600e+08</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Indonésie</td>
      <td>ASI</td>
      <td>88.8</td>
      <td>2.132</td>
      <td>2.273451e+08</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Brésil</td>
      <td>LAT</td>
      <td>90.2</td>
      <td>1.827</td>
      <td>1.919715e+08</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
female_literacy = df['female literacy'].values
fertility=df['fertility'].values
lat_df =df[df['Continent']=='LAT']
af_df =df[df['Continent']=='AF']

lat_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Continent</th>
      <th>female literacy</th>
      <th>fertility</th>
      <th>population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>Brésil</td>
      <td>LAT</td>
      <td>90.2</td>
      <td>1.827</td>
      <td>1.919715e+08</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Mexique</td>
      <td>LAT</td>
      <td>91.5</td>
      <td>2.156</td>
      <td>1.063504e+08</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Colombie</td>
      <td>LAT</td>
      <td>93.4</td>
      <td>2.404</td>
      <td>4.501210e+07</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Argentine</td>
      <td>LAT</td>
      <td>97.7</td>
      <td>2.223</td>
      <td>3.988298e+07</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Pérou</td>
      <td>LAT</td>
      <td>84.6</td>
      <td>2.53</td>
      <td>2.883670e+07</td>
    </tr>
  </tbody>
</table>
</div>

In [56]:
fertility_africa = af_df['fertility'].values
female_literacy_africa= af_df['female literacy'].values
fertility_latinamerica = lat_df['fertility'].values
female_literacy_latinamerica=lat_df['female literacy'].values

In [57]:
fertility_latinamerica

array(['1.827', '2.156', '2.404', '2.223', '2.53', '2.498', '1.926',
       '4.018', '2.513', '1.505', '2.612', '3.371', '3.19', '2.977',
       '2.295', '2.683', '1.943', '2.516', '2.089', '2.362', '1.647',
       '2.373', '3.371', '1.732'], dtype=object)

In [58]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Import output_file and show from bokeh.io
from bokeh.io import output_file, show


# Create the figure: p
p = figure(x_axis_label='fertility (children per woman)',y_axis_label='female_literacy (% population)')

# Add a circle glyph to the figure p
p.circle(fertility, female_literacy)

# Call the output_file() function and specify the name of the file
output_file('fert_lit.html')

# Display the plot
show(p)

## A scatter plot with different shapes
By calling multiple glyph functions on the same figure object, we can overlay multiple data sets in the same figure.

In this exercise, you will plot female literacy vs fertility for two different regions, Africa and Latin America. Each set of x and y data has been loaded separately for you as fertility_africa, female_literacy_africa, fertility_latinamerica, and female_literacy_latinamerica.

Your job is to plot the Latin America data with the circle() glyph, and the Africa data with the x() glyph.

figure has already been imported for you from bokeh.plotting.

In [1]:
# Create the figure: p
p = figure(x_axis_label='fertility', y_axis_label='female_literacy (% population)')

# Add a circle glyph to the figure p
p.circle()


# Add an x glyph to the figure p


# Specify the name of the file
output_file('fert_lit_separate.html')

# Display the plot
show(p)