## Reading DataFrames from multiple files

When data is spread among several files, you usually invoke pandas' read_csv() (or a similar data import function) multiple times to load the data into several DataFrames.

The data files for this example have been derived from a list of Olympic medals awarded between 1896 & 2008 compiled by the Guardian.

The column labels of each DataFrame are NOC, Country, & Total where NOC is a three-letter code for the name of the country and Total is the number of medals of that type won (bronze, silver, or gold).

In [80]:
# Import pandas
import pandas as pd

path = '/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/'

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv(path+'Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv(path+'Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv(path+'Gold.csv')

# Print the first five rows of gold
print(gold.head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

## Reading DataFrames from multiple files in a loop
As you saw in the video, loading data from multiple files into DataFrames is more efficient in a loop or a list comprehension.

Notice that this approach is not restricted to working with CSV files. That is, even if your data comes in other formats, as long as pandas has a suitable data import function, you can apply a loop or comprehension to generate a list of DataFrames imported from the source files.

Here, you'll continue working with The Guardian's Olympic medal dataset.

In [81]:
# Create the list of file names: filenames
filenames = [path+'Gold.csv', path+'Silver.csv', path+'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

## Combining DataFrames from multiple data files
In this exercise, you'll combine the three DataFrames from earlier exercises - gold, silver, & bronze - into a single DataFrame called medals. The approach you'll use here is clumsy. Later on in the course, you'll see various powerful methods that are frequently used in practice for concatenating or merging DataFrames.

Remember, the column labels of each DataFrame are NOC, Country, and Total, where NOC is a three-letter code for the name of the country and Total is the number of medals of that type won.

In [82]:
# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total'] 
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

   NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0

## using Listing Comprehehension

In [83]:
dataframe2 = pd.concat([pd.read_csv(f) for f in filenames])
dataframe2.equals(dataframes)

False

# using Glob modules

In [84]:
from glob import glob
filesnames = glob('sales*.csv')

In [85]:
filenames

['/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/Gold.csv',
 '/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/Silver.csv',
 '/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/Bronze.csv']

In [86]:
globadf = pd.concat([pd.read_csv(f) for f in filenames])

In [87]:
type(globadf)

pandas.core.frame.DataFrame

## Sorting DataFrame with the Index & columns

It is often useful to rearrange the sequence of the rows of a DataFrame by sorting. You don't have to implement these yourself; the principal methods for doing this are .sort_index() and .sort_values().

In this exercise, you'll use these methods with a DataFrame of temperature values indexed by month names. You'll sort the rows alphabetically using the Index and numerically using a column. Notice, for this data, the original ordering is probably most useful and intuitive: the purpose here is for you to understand what the sorting methods do.

In [88]:
# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv(path+'maxtemperture.csv',index_col='Month')

# Print the head of weather1
print(weather1.head())

# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()

# Print the head of weather2
print(weather2.head())

# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)

# Print the head of weather3
print(weather3.head())

# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 =weather1.sort_values('Max TemperatureF')

# Print the head of weather4
print(weather4.head())

        Max TemperatureF
Month
Jan                   68
Feb                   60
Mar                   68
Apr                   84
May                   88
           Max TemperatureF
Month
Apr                      84
Aug                      86
Dec                      68
Feb                      60
Jan                      68
             Max TemperatureF
Month
Sep                        90
Oct                        84
Nov                        72
May                        88
Mar                        68
       Max TemperatureF
Month
Feb                  60
Jan                  68
Mar                  68
Dec                  68
Nov                  72

## rindexing DataFrame from a list
Sorting methods are not the only way to change DataFrame Indexes. There is also the .reindex() method.

In this exercise, you'll reindex a DataFrame of quarterly-sampled mean temperature values to contain monthly samples (this is an example of upsampling or increasing the rate of samples, which you may recall from the pandas Foundations course).

The original data has the first month's abbreviation of the quarter (three-month interval) on the Index, namely Apr, Jan, Jul, and Sep. This data has been loaded into a DataFrame called weather1 and has been printed in its entirety in the IPython Shell. Notice it has only four rows (corresponding to the first month of each quarter) and that the rows are not sorted chronologically.

You'll initially use a list of all twelve month abbreviations and subsequently apply the .ffill() method to forward-fill the null entries when upsampling. This list of month abbreviations has been pre-loaded as year.

In [89]:
# Import pandas
import pandas as pd
import numpy as np
weather1  = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\temperture.csv',index_col='Month')



year = ['Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec']



# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\temperture.csv' does not exist

In [90]:
weather1.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Max TemperatureF</th>
    </tr>
    <tr>
      <th>Month</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Jan</th>
      <td>68</td>
    </tr>
    <tr>
      <th>Feb</th>
      <td>60</td>
    </tr>
    <tr>
      <th>Mar</th>
      <td>68</td>
    </tr>
    <tr>
      <th>Apr</th>
      <td>84</td>
    </tr>
    <tr>
      <th>May</th>
      <td>88</td>
    </tr>
  </tbody>
</table>
</div>

## Reindexing using another DataFrame Index

nother common technique is to reindex a DataFrame using the Index of another DataFrame. The DataFrame .reindex() method can accept the Index of a DataFrame or Series as input. You can access the Index of a DataFrame with its .index attribute.

The Baby Names Dataset from data.gov summarizes counts of names (with genders) from births registered in the US since 1881. In this exercise, you will start with two baby-names DataFrames names_1981 and names_1881 loaded for you.

The DataFrames names_1981 and names_1881 both have a MultiIndex with levels name and gender giving unique labels to counts in each row. If you're interested in seeing how the MultiIndexes were set up, names_1981 and names_1881 were read in using the following commands:

names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
names_1881 = pd.read_csv('names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))
As you can see by looking at their shapes, which have been printed in the IPython Shell, the DataFrame corresponding to 1981 births is much larger, reflecting the greater diversity of names in 1981 as compared to 1881.

Your job here is to use the DataFrame .reindex() and .dropna() methods to make a DataFrame common_names counting names from 1881 that were still popular in 1981.

In [91]:
#Init

names_1981 = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))

names_1881 = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\names1981.csv' does not exist

In [92]:
# Import pandas
import pandas as pd

# Reindex names_1981 with index of names_1881: common_names
#Create a new DataFrame common_names by reindexing names_1981 using the Index of the DataFrame names_1881 of older names.
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

NameError: name 'names_1981' is not defined

##

##

## Broadcasting in arithmetic formulas
In this exercise, you'll work with weather data pulled from wunderground.com. The DataFrame weather has been pre-loaded along with pandas as pd. It has 365 rows (observed each day of the year 2013 in Pittsburgh, PA) and 22 columns reflecting different weather measurements each day.

You'll subset a collection of columns related to temperature measurements in degrees Fahrenheit, convert them to degrees Celsius, and relabel the columns of the new DataFrame to reflect the change of units.

Remember, ordinary arithmetic operators (like +, -, *, and /) broadcast scalar values to conforming DataFrames when combining scalars & DataFrames in arithmetic expressions. Broadcasting also works with pandas Series and NumPy arrays.

In [93]:
## init
import pandas as pd

weather = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\/pittsburgh2013.csv',index_col='Date')

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\/pittsburgh2013.csv' does not exist

In [94]:
print(weather.head())

NameError: name 'weather' is not defined

In [95]:
# Excerise

# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather[['Min TemperatureF','Mean TemperatureF','Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f - 32) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns =temps_c.columns.str.replace('F','C')

# Print first 5 rows of temps_c
print(temps_c.head())

NameError: name 'weather' is not defined

# Computing percentage growth of GDP
Your job in this exercise is to compute the yearly percent-change of US GDP (Gross Domestic Product) since 2008.

The data has been obtained from the Federal Reserve Bank of St. Louis and is available in the file GDP.csv, which contains quarterly data; you will resample it to annual sampling and then compute the annual growth of GDP. For a refresher on resampling, check out the relevant material from pandas Foundations.

In [96]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\/gdp_usa.csv',parse_dates=True, index_col='DATE')

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\/gdp_usa.csv' does not exist

In [97]:
gdp.head()

NameError: name 'gdp' is not defined

In [98]:

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc['2008':]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change()*100

# Print yearly again
print(yearly)

NameError: name 'gdp' is not defined

## Converting currency of stocks

n this exercise, stock prices in US Dollars for the S&P 500 in 2015 have been obtained from Yahoo Finance. The files sp500.csv for sp500 and exchange.csv for the exchange rates are both provided to you.

Using the daily exchange rate to Pounds Sterling, your task is to convert both the Open and Close column prices.

In [99]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sp500.csv',parse_dates=True,index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\exchange.csv',parse_dates=True,index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[['Open','Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'],axis='rows')

# Print the head of pounds
print(pounds.head())

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sp500.csv' does not exist

##

In [100]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sp500.csv',parse_dates=True,index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\exchange.csv',parse_dates=True,index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[['Open','Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'],axis='rows')

# Print the head of pounds
print(pounds.head())

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sp500.csv' does not exist

## Appending pandas Series

In this exercise, you'll load sales data from the months January, February, and March into DataFrames. Then, you'll extract Series with the 'Units' column from each and append them together with method chaining using .append().

To check that the stacking worked, you'll print slices from these Series, and finally, you'll add the result to figure out the total units sold in the first quarter.

In [101]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sales-jan-2015.csv',parse_dates=True,index_col='Date')

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sales-feb-2015.csv',parse_dates=True,index_col='Date')

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sales-mar-2015.csv',parse_dates=True,index_col='Date')

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015':'mar 7, 2015' ])

# Compute & print total sales in quarter1
print(quarter1.sum())

FileNotFoundError: File b'K:\\TensorflowPY36CPU\\TensorflowPY36CPU\\_1_PythonBasic\\Pandas\\sales-jan-2015.csv' does not exist

# Concatenating pandas Series along row axis

Having learned how to append Series, you'll now learn how to achieve the same result by concatenating Series instead. You'll continue to work with the sales data you've seen previously. This time, the DataFrames jan, feb, and mar have been pre-loaded.

Your job is to use pd.concat() with a list of Series to achieve the same result that you would get by chaining calls to .append().

You may be wondering about the difference between pd.concat() and pandas' .append() method. One way to think of the difference is that .append() is a specific case of a concatenation, while pd.concat() gives you more flexibility, as you'll see in later exercises.

In [102]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units,axis='rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

NameError: name 'jan' is not defined

## Appending DataFrames with ignore_index
In this exercise, you'll use the Baby Names Dataset (from data.gov) again. This time, both DataFrames names_1981 and names_1881 are loaded without specifying an Index column (so the default Indexes for both are RangeIndexes).

You'll use the DataFrame .append() method to make a DataFrame combined_names. To distinguish rows from the original two DataFrames, you'll add a 'year' column to each with the year (1881 or 1981 in this case). In addition, you'll specify ignore_index=True so that the index values are not used along the concatenation axis. The resulting axis will instead be labeled 0, 1, ..., n-1, which is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information.

In [103]:
## init
names_1881 = pd.read_csv(path+'names1881.csv',header=None,names=['name','gender','count'])
names_1981 = pd.read_csv(path+'names1981.csv',header=None,names=['name','gender','count'])

In [104]:
names_1881.head()
names_1981.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>gender</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Jennifer</td>
      <td>F</td>
      <td>57032</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Jessica</td>
      <td>F</td>
      <td>42519</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Amanda</td>
      <td>F</td>
      <td>34370</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Sarah</td>
      <td>F</td>
      <td>28162</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Melissa</td>
      <td>F</td>
      <td>28003</td>
    </tr>
  </tbody>
</table>
</div>

In [105]:
# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981,ignore_index=True)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

# Print all rows that contain the name 'Morgan'
print(combined_names.loc[combined_names['name']=='Morgan'])

(19455, 4)
(1935, 4)
(21390, 4)
         name gender  count  year
1283   Morgan      M     23  1881
2096   Morgan      F   1769  1981
14390  Morgan      M    766  1981

## Concatenating pandas DataFrames along column axis
The function pd.concat() can concatenate DataFrames horizontally as well as vertically (vertical is the default). To make the DataFrames stack horizontally, you have to specify the keyword argument axis=1 or axis='columns'.

In this exercise, you'll use weather data with maximum and mean daily temperatures sampled at different rates (quarterly versus monthly). You'll concatenate the rows of both and see that, where rows are missing in the coarser DataFrame, null values are inserted in the concatenated DataFrame. This corresponds to an outer join (which you will explore in more detail in later exercises).

The files 'quarterly_max_temp.csv' and 'monthly_mean_temp.csv' have been pre-loaded into the DataFrames weather_max and weather_mean respectively, and pandas has been imported as pd.

In [106]:
#init
weather_max = pd.read_csv(path+'quarterly_max_temp.csv')
weather_mean = pd.read_csv(path+'monthly_mean_temp.csv')
weather_max.head()
weather_mean.head()

FileNotFoundError: File b'/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/monthly_mean_temp.csv' does not exist

In [107]:
# Concatenate weather_max and weather_mean horizontally: weather
weather = pd.concat([weather_max, weather_mean] ,axis=1)

# Print weather
print(weather)

NameError: name 'weather_mean' is not defined

## Reading multiple files to build a DataFrame

Reading multiple files to build a DataFrame
It is often convenient to build a large DataFrame by parsing many files as DataFrames and concatenating them all at once. You'll do this here with three files, but, in principle, this approach can be used to combine data from dozens or hundreds of files.

Here, you'll work with DataFrames compiled from The Guardian's Olympic medal dataset.

pandas has been imported as pd and two lists have been pre-loaded: An empty list called medals, and medal_types, which contains the strings 'bronze', 'silver', and 'gold'.

In [108]:
# init

medals = []
medal_types = ['bronze', 'silver', 'gold']

In [109]:
for medal in medal_types:

    # Create the file name: file_name
    file_name = path+"%s_top5.csv" % medal
    
    # Create list of column names: columns
    columns = ['Country', medal]
    
    # Read file_name into a DataFrame: df
    medal_df = pd.read_csv(file_name,header=0,index_col='Country',names=columns)

    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals
medals = pd.concat(medals,axis='columns')

# Print medals
print(medals)

                bronze  silver    gold
France           475.0   461.0     NaN
Germany          454.0     NaN   407.0
Italy              NaN   394.0   460.0
Soviet Union     584.0   627.0   838.0
United Kingdom   505.0   591.0   498.0
United States   1052.0  1195.0  2088.0

## Concatenating vertically to get MultiIndexed rows
When stacking a sequence of DataFrames vertically, it is sometimes desirable to construct a MultiIndex to indicate the DataFrame from which each row originated. This can be done by specifying the keys parameter in the call to pd.concat(), which generates a hierarchical index with the labels from keys as the outermost index label. So you don't have to rename the columns of each DataFrame as you load it. Instead, only the Index column needs to be specified.

Here, you'll continue working with DataFrames compiled from The Guardian's Olympic medal dataset. Once again, pandas has been imported as pd and two lists have been pre-loaded: An empty list called medals, and medal_types, which contains the strings 'bronze', 'silver', and 'gold'.

In [110]:
# init

medals = []
medal_types = ['bronze', 'silver', 'gold']

In [111]:
for medal in medal_types:

    file_name = path+"%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name,index_col='Country')
    
    # Append medal_df to medals
    medals.append(medal_df)
    
    
# Concatenate medals: medals
medals = pd.concat(medals,keys=['bronze', 'silver', 'gold'] )

# Print medals in entirety
print(medals)

                        Total
       Country
bronze United States   1052.0
       Soviet Union     584.0
       United Kingdom   505.0
       France           475.0
       Germany          454.0
silver United States   1195.0
       Soviet Union     627.0
       United Kingdom   591.0
       France           461.0
       Italy            394.0
gold   United States   2088.0
       Soviet Union     838.0
       United Kingdom   498.0
       Italy            460.0
       Germany          407.0

## This exercise picks up where the last ended (again using The Guardian's Olympic medal dataset).

You are provided with the MultiIndexed DataFrame as produced at the end of the preceding exercise. Your task is to sort the DataFrame and to use the pd.IndexSlice to extract specific slices. Check out this exercise from Manipulating DataFrames with pandas to refresh your memory on how to deal with MultiIndexed DataFrames.

pandas has been imported for you as pd and the DataFrame medals is already in your namespace.

In [112]:
# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level=0)

In [113]:
medals_sorted

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Total</th>
    </tr>
    <tr>
      <th></th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">bronze</th>
      <th>France</th>
      <td>475.0</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>454.0</td>
    </tr>
    <tr>
      <th>Soviet Union</th>
      <td>584.0</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>505.0</td>
    </tr>
    <tr>
      <th>United States</th>
      <td>1052.0</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">gold</th>
      <th>Germany</th>
      <td>407.0</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>460.0</td>
    </tr>
    <tr>
      <th>Soviet Union</th>
      <td>838.0</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>498.0</td>
    </tr>
    <tr>
      <th>United States</th>
      <td>2088.0</td>
    </tr>
    <tr>
      <th rowspan="5" valign="top">silver</th>
      <th>France</th>
      <td>461.0</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>394.0</td>
    </tr>
    <tr>
      <th>Soviet Union</th>
      <td>627.0</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>591.0</td>
    </tr>
    <tr>
      <th>United States</th>
      <td>1195.0</td>
    </tr>
  </tbody>
</table>
</div>

In [114]:


# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:, 'United Kingdom'], :])

Total    454.0
Name: (bronze, Germany), dtype: float64
                 Total
Country
France           461.0
Italy            394.0
Soviet Union     627.0
United Kingdom   591.0
United States   1195.0
                       Total
       Country
bronze United Kingdom  505.0
gold   United Kingdom  498.0
silver United Kingdom  591.0

# Concatenating horizontally to get MultiIndexed columns
It is also possible to construct a DataFrame with hierarchically indexed columns. For this exercise, you'll start with pandas imported and a list of three DataFrames called dataframes. All three DataFrames contain 'Company', 'Product', and 'Units' columns with a 'Date' column as the index pertaining to sales transactions during the month of February, 2015. The first DataFrame describes Hardware transactions, the second describes Software transactions, and the third, Service transactions.

Your task is to concatenate the DataFrames horizontally and to create a MultiIndex on the columns. From there, you can summarize the resulting DataFrame and slice some information from it.

In [115]:
#init
Hardware = pd.read_csv(path+'feb-sales-Hardware.csv',index_col='Date')
Software = pd.read_csv(path+'feb-sales-Software.csv',index_col='Date')
Service= pd.read_csv(path+'feb-sales-Service.csv',index_col='Date')
dataframes = [Hardware,Software,Service]

dataframes

[                             Company   Product  Units
 Date
 2015-02-04 21:52:45  Acme Coporation  Hardware     14
 2015-02-07 22:58:10  Acme Coporation  Hardware      1
 2015-02-19 10:59:33        Mediacore  Hardware     16
 2015-02-02 20:54:49        Mediacore  Hardware      9
 2015-02-21 20:41:47            Hooli  Hardware      3,
                              Company   Product  Units
 Date
 2015-02-16 12:09:19            Hooli  Software     10
 2015-02-03 14:14:18          Initech  Software     13
 2015-02-02 08:33:01            Hooli  Software      3
 2015-02-05 01:53:06  Acme Coporation  Software     19
 2015-02-11 20:03:08          Initech  Software      7
 2015-02-09 13:09:55        Mediacore  Software      7
 2015-02-11 22:50:44            Hooli  Software      4
 2015-02-04 15:36:29        Streeplex  Software     13
 2015-02-21 05:01:26        Mediacore  Software      3,
                        Company  Product  Units
 Date
 2015-02-26 08:57:45  Streeplex  Service      4
 2015-02-25 00:29:00    Initech  Service     10
 2015-02-09 08:57:30  Streeplex  Service     19
 2015-02-26 08:58:51  Streeplex  Service      1
 2015-02-05 22:05:03      Hooli  Service     10
 2015-02-19 16:02:58  Mediacore  Service     10]

In [116]:
# Concatenate dataframes: february
february = pd.concat(dataframes, axis=1, keys=['Hardware', 'Software', 'Service'])

In [117]:
february.info()
print(february.head())

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2015-02-02 08:33:01 to 2015-02-26 08:58:51
Data columns (total 9 columns):
(Hardware, Company)    5 non-null object
(Hardware, Product)    5 non-null object
(Hardware, Units)      5 non-null float64
(Software, Company)    9 non-null object
(Software, Product)    9 non-null object
(Software, Units)      9 non-null float64
(Service, Company)     6 non-null object
(Service, Product)     6 non-null object
(Service, Units)       6 non-null float64
dtypes: float64(3), object(6)
memory usage: 1.6+ KB
                            Hardware                   Software            \
                             Company   Product Units    Company   Product
2015-02-02 08:33:01              NaN       NaN   NaN      Hooli  Software
2015-02-02 20:54:49        Mediacore  Hardware   9.0        NaN       NaN
2015-02-03 14:14:18              NaN       NaN   NaN    Initech  Software
2015-02-04 15:36:29              NaN       NaN   NaN  Streeplex  Software
2015-02-04 21:52:45  Acme Coporation  Hardware  14.0        NaN       NaN

                          Service
                    Units Company Product Units
2015-02-02 08:33:01   3.0     NaN     NaN   NaN
2015-02-02 20:54:49   NaN     NaN     NaN   NaN
2015-02-03 14:14:18  13.0     NaN     NaN   NaN
2015-02-04 15:36:29  13.0     NaN     NaN   NaN
2015-02-04 21:52:45   NaN     NaN     NaN   NaN

In [118]:

# Print february.info()
print(february.info())

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

# Create the slice: slice_2_8
#Extract a slice called slice_2_8 from february (using .loc[] & idx) that comprises rows between Feb. 2, 2015 to Feb. 8, 2015 from columns under 'Company'.
slice_2_8 = february.loc['Feb 2,2015':'Feb 8,2015', idx[:, 'Company']]

# Print slice_2_8
print(slice_2_8)

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2015-02-02 08:33:01 to 2015-02-26 08:58:51
Data columns (total 9 columns):
(Hardware, Company)    5 non-null object
(Hardware, Product)    5 non-null object
(Hardware, Units)      5 non-null float64
(Software, Company)    9 non-null object
(Software, Product)    9 non-null object
(Software, Units)      9 non-null float64
(Service, Company)     6 non-null object
(Service, Product)     6 non-null object
(Service, Units)       6 non-null float64
dtypes: float64(3), object(6)
memory usage: 1.6+ KB
None
Empty DataFrame
Columns: [(Hardware, Company), (Software, Company), (Service, Company)]
Index: []

In [119]:
# Print slice_2_8
print(slice_2_8)

Empty DataFrame
Columns: [(Hardware, Company), (Software, Company), (Service, Company)]
Index: []

## Concatenating DataFrames from a dict

You're now going to revisit the sales data you worked with earlier in the chapter. Three DataFrames jan, feb, and mar have been pre-loaded for you. Your task is to aggregate the sum of all sales over the 'Company' column into a single DataFrame. You'll do this by constructing a dictionary of these DataFrames and then concatenating them.

## Concatenating DataFrames with inner join
Concatenating DataFrames with inner join
Here, you'll continue working with DataFrames compiled from The Guardian's Olympic medal dataset.

The DataFrames bronze, silver, and gold have been pre-loaded for you.

Your task is to compute an inner join.

In [120]:
# Make the list of tuples: month_list
#Create a list called month_list consisting of the tuples ('january', jan), ('february', feb), and ('march', mar).
month_list = [('january', jan),('february', feb),('march', mar)]

# Create an empty dictionary: month_dict
month_dict = dict()

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

NameError: name 'jan' is not defined

## Concatenating DataFrames with inner join
Concatenating DataFrames with inner join
Here, you'll continue working with DataFrames compiled from The Guardian's Olympic medal dataset.

The DataFrames bronze, silver, and gold have been pre-loaded for you.

Your task is to compute an inner join.

In [121]:
# Create the list of DataFrames: medal_list
#Construct a list of DataFrames called medal_list with entries bronze, silver, and gold.
medal_list = [bronze,silver,gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list,keys=['bronze', 'silver', 'gold'],axis=1,join='inner')

# Print medals
print(medals)

    bronze                                silver                         \
       NOC                Country   Total    NOC                Country
0      USA          United States  1052.0    USA          United States
1      URS           Soviet Union   584.0    URS           Soviet Union
2      GBR         United Kingdom   505.0    GBR         United Kingdom
3      FRA                 France   475.0    FRA                 France
4      GER                Germany   454.0    GER                Germany
5      AUS              Australia   413.0    AUS              Australia
6      ITA                  Italy   374.0    ITA                  Italy
7      HUN                Hungary   345.0    HUN                Hungary
8      SWE                 Sweden   325.0    SWE                 Sweden
9      NED            Netherlands   320.0    NED            Netherlands
10     ROU                Romania   282.0    ROU                Romania
11     JPN                  Japan   270.0    JPN                  Japan
12     RUS                 Russia   240.0    RUS                 Russia
13     CAN                 Canada   227.0    CAN                 Canada
14     GDR           East Germany   225.0    GDR           East Germany
15     POL                 Poland   223.0    POL                 Poland
16     FIN                Finland   209.0    FIN                Finland
17     CHN                  China   193.0    CHN                  China
18     FRG           West Germany   180.0    FRG           West Germany
19     BRA                 Brazil   174.0    BRA                 Brazil
20     DEN                Denmark   152.0    DEN                Denmark
21     BEL                Belgium   150.0    BEL                Belgium
22     NOR                 Norway   144.0    NOR                 Norway
23     SUI            Switzerland   138.0    SUI            Switzerland
24     BUL               Bulgaria   136.0    BUL               Bulgaria
25     KOR           Korea, South   135.0    KOR           Korea, South
26     YUG             Yugoslavia   118.0    YUG             Yugoslavia
27     CUB                   Cuba   109.0    CUB                   Cuba
28     TCH         Czechoslovakia   105.0    TCH         Czechoslovakia
29     ESP                  Spain    92.0    ESP                  Spain
..     ...                    ...     ...    ...                    ...
108    BAR               Barbados     1.0    BAR               Barbados
109    BER               Bermuda*     1.0    BER               Bermuda*
110    DJI               Djibouti     1.0    DJI               Djibouti
111    ERI                Eritrea     1.0    ERI                Eritrea
112    GUY                 Guyana     1.0    GUY                 Guyana
113    IRQ                   Iraq     1.0    IRQ                   Iraq
114    KUW                 Kuwait     1.0    KUW                 Kuwait
115    MKD              Macedonia     1.0    MKD              Macedonia
116    MRI              Mauritius     1.0    MRI              Mauritius
117    NIG                  Niger     1.0    NIG                  Niger
118    TOG                   Togo     1.0    TOG                   Togo
119    PAR               Paraguay     NaN    PAR               Paraguay
120    PER                   Peru     NaN    PER                   Peru
121    SCG                 Serbia     NaN    SCG                 Serbia
122    NAM                Namibia     NaN    NAM                Namibia
123    SIN              Singapore     NaN    SIN              Singapore
124    HKG             Hong Kong*     NaN    HKG             Hong Kong*
125    SRI              Sri Lanka     NaN    SRI              Sri Lanka
126    TAN               Tanzania     NaN    TAN               Tanzania
127    VIE                Vietnam     NaN    VIE                Vietnam
128    ECU                Ecuador     NaN    ECU                Ecuador
129    LUX             Luxembourg     NaN    LUX             Luxembourg
130    AHO  Netherlands Antilles*     NaN    AHO  Netherlands Antilles*
131    CIV          Cote d'Ivoire     NaN    CIV          Cote d'Ivoire
132    ISV        Virgin Islands*     NaN    ISV        Virgin Islands*
133    SEN                Senegal     NaN    SEN                Senegal
134    SUD                  Sudan     NaN    SUD                  Sudan
135    TGA                  Tonga     NaN    TGA                  Tonga
136    BDI                Burundi     NaN    BDI                Burundi
137    UAE   United Arab Emirates     NaN    UAE   United Arab Emirates

            gold
      Total  NOC                Country   Total
0    1195.0  USA          United States  2088.0
1     627.0  URS           Soviet Union   838.0
2     591.0  GBR         United Kingdom   498.0
3     461.0  FRA                 France   378.0
4     350.0  GER                Germany   407.0
5     369.0  AUS              Australia   293.0
6     394.0  ITA                  Italy   460.0
7     308.0  HUN                Hungary   400.0
8     349.0  SWE                 Sweden   347.0
9     250.0  NED            Netherlands   212.0
10    187.0  ROU                Romania   155.0
11    228.0  JPN                  Japan   206.0
12    206.0  RUS                 Russia   192.0
13    211.0  CAN                 Canada   154.0
14    271.0  GDR           East Germany   329.0
15    173.0  POL                 Poland   103.0
16    118.0  FIN                Finland   124.0
17    252.0  CHN                  China   234.0
18    167.0  FRG           West Germany   143.0
19    139.0  BRA                 Brazil    59.0
20    192.0  DEN                Denmark   147.0
21    167.0  BEL                Belgium    91.0
22    199.0  NOR                 Norway   194.0
23    165.0  SUI            Switzerland    73.0
24    142.0  BUL               Bulgaria    53.0
25    191.0  KOR           Korea, South   140.0
26    174.0  YUG             Yugoslavia   143.0
27    126.0  CUB                   Cuba   160.0
28    144.0  TCH         Czechoslovakia    80.0
29    193.0  ESP                  Spain    92.0
..      ...  ...                    ...     ...
108     NaN  BAR               Barbados     NaN
109     NaN  BER               Bermuda*     NaN
110     NaN  DJI               Djibouti     NaN
111     NaN  ERI                Eritrea     NaN
112     NaN  GUY                 Guyana     NaN
113     NaN  IRQ                   Iraq     NaN
114     NaN  KUW                 Kuwait     NaN
115     NaN  MKD              Macedonia     NaN
116     NaN  MRI              Mauritius     NaN
117     NaN  NIG                  Niger     NaN
118     NaN  TOG                   Togo     NaN
119    17.0  PAR               Paraguay     NaN
120    14.0  PER                   Peru     1.0
121    14.0  SCG                 Serbia     NaN
122     4.0  NAM                Namibia     NaN
123     4.0  SIN              Singapore     NaN
124     2.0  HKG             Hong Kong*     1.0
125     2.0  SRI              Sri Lanka     NaN
126     2.0  TAN               Tanzania     NaN
127     2.0  VIE                Vietnam     NaN
128     1.0  ECU                Ecuador     1.0
129     1.0  LUX             Luxembourg     1.0
130     1.0  AHO  Netherlands Antilles*     NaN
131     1.0  CIV          Cote d'Ivoire     NaN
132     1.0  ISV        Virgin Islands*     NaN
133     1.0  SEN                Senegal     NaN
134     1.0  SUD                  Sudan     NaN
135     1.0  TGA                  Tonga     NaN
136     NaN  BDI                Burundi     1.0
137     NaN  UAE   United Arab Emirates     1.0

[138 rows x 9 columns]

## Resampling & concatenating DataFrames with inner join

In [122]:
#init
china = pd.read_csv(path+'china.csv',index_col='Year',parse_dates=True)
us = pd.read_csv(path+'usa.csv',index_col='Year',parse_dates=True)

china.head()
us.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>US</th>
    </tr>
    <tr>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1947-04-01</th>
      <td>246.3</td>
    </tr>
    <tr>
      <th>1947-07-01</th>
      <td>250.1</td>
    </tr>
    <tr>
      <th>1947-10-01</th>
      <td>260.3</td>
    </tr>
    <tr>
      <th>1948-01-01</th>
      <td>266.2</td>
    </tr>
    <tr>
      <th>1948-04-01</th>
      <td>272.9</td>
    </tr>
  </tbody>
</table>
</div>

In [123]:
# Resample and tidy china: china_annual
china_annual = china.resample('A').pct_change(10).dropna()

/Users/victor/anaconda3/envs/TensorflowCPUPY35/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning:
.resample() is now a deferred operation
You called pct_change(...) on this deferred object which materialized it into a dataframe
by implicitly taking the mean.  Use .resample(...).mean() instead

In [124]:


# Resample and tidy us: us_annual
us_annual = us.resample('A').pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual,us_annual],axis=1,join='inner')

# Resample gdp and print
print(gdp.resample('10A').last())

Empty DataFrame
Columns: [China, US]
Index: []

/Users/victor/anaconda3/envs/TensorflowCPUPY35/lib/python3.5/site-packages/ipykernel_launcher.py:4: FutureWarning:
.resample() is now a deferred operation
You called pct_change(...) on this deferred object which materialized it into a dataframe
by implicitly taking the mean.  Use .resample(...).mean() instead
  after removing the cwd from sys.path.

## Merging on a specific column


This exercise follows on the last one with the DataFrames revenue and managers for your company. You expect your company to grow and, eventually, to operate in cities with the same name on different states. As such, you decide that every branch should have a numerical branch identifier. Thus, you add a branch_id column to both DataFrames. Moreover, new cities have been added to both the revenue and managers DataFrames as well. pandas has been imported as pd and both DataFrames are available in your namespace.

At present, there should be a 1-to-1 relationship between the city and branch_id fields. In that case, the result of a merge on the city columns ought to give you the same output as a merge on the branch_id columns. Do they? Can you spot an ambiguity in one of the DataFrames?

In [125]:
#init 

managers = pd.read_csv(path+'managers.csv')
revenue = pd.read_csv(path+'revenue.csv')

In [126]:
managers

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>branch_id</th>
      <th>city</th>
      <th>manager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>Austin</td>
      <td>Charlers</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>Denver</td>
      <td>Joel</td>
    </tr>
    <tr>
      <th>2</th>
      <td>47</td>
      <td>Mendocino</td>
      <td>Brett</td>
    </tr>
    <tr>
      <th>3</th>
      <td>31</td>
      <td>Springfield</td>
      <td>Sally</td>
    </tr>
  </tbody>
</table>
</div>

In [127]:
revenue

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>branch_id</th>
      <th>city</th>
      <th>revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>Austin</td>
      <td>100</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>Denver</td>
      <td>83</td>
    </tr>
    <tr>
      <th>2</th>
      <td>30</td>
      <td>Springfield</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>47</td>
      <td>Mendocino</td>
      <td>200</td>
    </tr>
  </tbody>
</table>
</div>

In [128]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue,managers,on='city')

# Print merge_by_city
print(merge_by_city)

# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue,managers,on='branch_id')

# Print merge_by_id
print(merge_by_id)

   branch_id_x         city  revenue  branch_id_y   manager
0           10  Austin           100           10  Charlers
1           20  Denver            83           20      Joel
2           30  Springfield        4           31     Sally
3           47  Mendocino        200           47     Brett
   branch_id       city_x  revenue       city_y   manager
0         10  Austin           100  Austin       Charlers
1         20  Denver            83  Denver           Joel
2         47  Mendocino        200  Mendocino       Brett

## Merging on columns with non-matching labels
You continue working with the revenue & managers DataFrames from before. This time, someone has changed the field name 'city' to 'branch' in the managers table. Now, when you attempt to merge DataFrames, an exception is thrown:

>>> pd.merge(revenue, managers, on='city')
Traceback (most recent call last):
    ... <text deleted> ...
    pd.merge(revenue, managers, on='city')
    ... <text deleted> ...
KeyError: 'city'
Given this, it will take a bit more work for you to join or merge on the city/branch name. You have to specify the left_on and right_on parameters in the call to pd.merge().

As before, pandas has been pre-imported as pd and the revenue and managers DataFrames are in your namespace. They have been printed in the IPython Shell so you can examine the columns prior to merging.

Are you able to merge better than in the last exercise? How should the rows with Springfield be handled?

In [129]:
#init

managers = pd.read_csv(path+'managers2.csv')
revenue = pd.read_csv(path+'revenue2.csv')

In [130]:
# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue,managers,left_on='city',right_on='branch')

# Print combined
print(combined)

   branch_id         city  revenue     state_x       branch  branch_id    \
0         10  Austin               100      TX  Austin                10
1         20  Denver                83      CO  Denver                20
2         30  Springfield            4      IL  Springfield           31
3         47  Mendocino            200      CA  Mendocino             47

    manager state_y
0  Charlers      TX
1  Joel          CO
2  Sally         MO
3  Brett         CA

## Merging on multiple columns

Another strategy to disambiguate cities with identical names is to add information on the states in which the cities are located. To this end, you add a column called state to both DataFrames from the preceding exercises. Again, pandas has been pre-imported as pd and the revenue and managers DataFrames are in your namespace.

Your goal in this exercise is to use pd.merge() to merge DataFrames using multiple columns (using 'branch_id', 'city', and 'state' in this case).

Are you able to match all your company's branches correctly?

In [131]:
managers = pd.read_csv(path+'managers.csv')
revenue = pd.read_csv(path+'revenue.csv')

In [132]:
# Add 'state' column to revenue: revenue['state']
revenue['state'] = ['TX','CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX','CO','CA','MO']

# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined = pd.merge(revenue,managers,on=['branch_id', 'city', 'state'])

# Print combined
print(combined)

   branch_id         city  revenue state   manager
0         10  Austin           100    TX  Charlers
1         20  Denver            83    CO      Joel
2         47  Mendocino        200    CA     Brett

## Which join should I use?
 - df1.append(df2) : stack vertically
 - pd.concat([df1,df2])
    stack vertical or horizontally
    simple inner/out join on indexes
 - df1.join(df2): inner/outer/left/right join on indexes
 - pd.merage([df1,df2]): many joins on multiple columns

## Left & right merging on multiple columns
You now have, in addition to the revenue and managers DataFrames from prior exercises, a DataFrame sales that summarizes units sold from specific branches (identified by city and state but not branch_id).

Once again, the managers DataFrame uses the label branch in place of city as in the other two DataFrames. Your task here is to employ left and right merges to preserve data and identify where data is missing.

By merging revenue and sales with a right merge, you can identify the missing revenue values. Here, you don't need to specify left_on or right_on because the columns to merge on have matching labels.

By merging sales and managers with a left merge, you can identify the missing manager. Here, the columns to merge on have conflicting labels, so you must specify left_on and right_on. In both cases, you're looking to figure out how to connect the fields in rows containing Springfield.

pandas has been imported as pd and the three DataFrames revenue, managers, and sales have been pre-loaded. They have been printed for you to explore in the IPython Shell.

In [133]:
#init

import pandas as pd

managers = pd.read_csv(path+'managers2.csv')

In [134]:
managers.head()
managers.columns = managers.columns.str.strip()

In [135]:

revenue = pd.read_csv(path+'revenue2.csv')
revenue.columns = revenue.columns.str.strip()

In [136]:
revenue.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>branch_id</th>
      <th>city</th>
      <th>revenue</th>
      <th>state</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10</td>
      <td>Austin</td>
      <td>100</td>
      <td>TX</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>Denver</td>
      <td>83</td>
      <td>CO</td>
    </tr>
    <tr>
      <th>2</th>
      <td>30</td>
      <td>Springfield</td>
      <td>4</td>
      <td>IL</td>
    </tr>
    <tr>
      <th>3</th>
      <td>47</td>
      <td>Mendocino</td>
      <td>200</td>
      <td>CA</td>
    </tr>
  </tbody>
</table>
</div>

In [137]:

sales = pd.read_csv(path+'sales2.csv')
sales.columns = sales.columns.str.strip()
sales.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>state</th>
      <th>units</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mendocino</td>
      <td>CA</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Denver</td>
      <td>CO</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Austin</td>
      <td>TX</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Springfield</td>
      <td>MO</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Springfield</td>
      <td>IL</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [138]:
# Merge revenue and sales: revenue_and_sales
#Execute a right merge using pd.merge() with revenue and sales to yield a new DataFrame revenue_and_sales.
#Use how='right' and on=['city', 'state'].

revenue_and_sales = pd.merge(revenue,sales,how='right',on=['city', 'state'])

# Print revenue_and_sales
print(revenue_and_sales)

   branch_id         city  revenue state  units
0       10.0  Austin         100.0    TX      2
1       20.0  Denver          83.0    CO      4
2       30.0  Springfield      4.0    IL      1
3       47.0  Mendocino      200.0    CA      1
4        NaN  Springfield      NaN    MO      5

In [139]:
# Merge sales and managers: sales_and_managers
sales_and_managers =pd.merge(sales, managers, how='left', left_on=['city', 'state'], right_on=['branch', 'state'])

# Print sales_and_managers
print(sales_and_managers)

          city state  units       branch  branch_id   manager
0  Mendocino      CA      1  Mendocino         47.0  Brett
1  Denver         CO      4  Denver            20.0  Joel
2  Austin         TX      2  Austin            10.0  Charlers
3  Springfield    MO      5  Springfield       31.0  Sally
4  Springfield    IL      1          NaN        NaN       NaN

## Loading Olympic edition DataFrame
In this chapter, you'll be using The Guardian's Olympic medal dataset.

Your first task here is to prepare a DataFrame editions from a tab-separated values (TSV) file.

Initially, editions has 26 rows (one for each Olympic edition, i.e., a year in which the Olympics was held) and 7 columns: 'Edition', 'Bronze', 'Gold', 'Silver', 'Grand Total', 'City', and 'Country'.

For the analysis that follows, you won't need the overall medal counts, so you want to keep only the useful columns from editions: 'Edition', 'Grand Total', City, and Country.

## Merging DataFrames with outer join
This exercise picks up where the previous one left off. The DataFrames revenue, managers, and sales are pre-loaded into your namespace (and, of course, pandas is imported as pd). Moreover, the merged DataFrames revenue_and_sales and sales_and_managers have been pre-computed exactly as you did in the previous exercise.

The merged DataFrames contain enough information to construct a DataFrame with 5 rows with all known information correctly aligned and each branch listed only once. You will try to merge the merged DataFrames on all matching keys (which computes an inner join by default). You can compare the result to an outer join and also to an outer join with restricted subset of columns as keys.

In [140]:
#init 
import pandas as pd
sales_and_managers = pd.read_csv(path+'sales_and_managers.csv')
sales_and_managers.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>city</th>
      <th>state</th>
      <th>units</th>
      <th>branch</th>
      <th>branch_id</th>
      <th>manager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mendocino</td>
      <td>CA</td>
      <td>1   Mendocino</td>
      <td>47.0</td>
      <td>Brett</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Denver</td>
      <td>CO</td>
      <td>4      Denver</td>
      <td>20.0</td>
      <td>Joel</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Austin</td>
      <td>TX</td>
      <td>2      Austin</td>
      <td>10.0</td>
      <td>Charlers</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Springfield</td>
      <td>MO</td>
      <td>5 Springfield</td>
      <td>31.0</td>
      <td>Sally</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Springfield</td>
      <td>IL</td>
      <td>1         NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [141]:
revenue_and_sales = pd.read_csv(path+'revenue_and_sales.csv')
revenue_and_sales.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>branch_id</th>
      <th>city</th>
      <th>revenue</th>
      <th>state</th>
      <th>units</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10.0</td>
      <td>Austin</td>
      <td>100.0</td>
      <td>TX</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20.0</td>
      <td>Denver</td>
      <td>83.0</td>
      <td>CO</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>30.0</td>
      <td>Springfield</td>
      <td>4.0</td>
      <td>IL</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>47.0</td>
      <td>Mendocino</td>
      <td>200.0</td>
      <td>CA</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>Springfield</td>
      <td>NaN</td>
      <td>MO</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [142]:
# Perform the first merge: merge_default
merge_default = pd.merge(sales_and_managers,revenue_and_sales)

# Print merge_default
print(merge_default)

# Perform the second merge: merge_outer
merge_outer = pd.merge(sales_and_managers,revenue_and_sales,how='outer')

# Print merge_outer
print(merge_outer)

# Perform the third merge: merge_outer_on
merge_outer_on =pd.merge(sales_and_managers,revenue_and_sales,on=['state'],how='outer')

# Print merge_outer_on
print(merge_outer_on)

Empty DataFrame
Columns: [city       , state, units        , branch, branch_id, manager, revenue, units]
Index: []
   city         state  units          branch  branch_id  manager  revenue  \
0  Mendocino    CA     1   Mendocino  47.0        Brett      NaN      NaN
1  Denver       CO     4      Denver  20.0         Joel      NaN      NaN
2  Austin       TX     2      Austin  10.0     Charlers      NaN      NaN
3  Springfield  MO     5 Springfield  31.0        Sally      NaN      NaN
4  Springfield  IL     1         NaN  NaN           NaN      NaN      NaN
5  Austin       TX               NaN     NaN  10.0           NaN  100.0
6  Denver       CO               NaN     NaN  20.0           NaN  83.0
7  Springfield  IL               NaN     NaN  30.0           NaN  4.0
8  Mendocino    CA               NaN     NaN  47.0           NaN  200.0
9  Springfield  MO               NaN     NaN  NaN            NaN  NaN

   units
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    2.0
6    4.0
7    1.0
8    1.0
9    5.0
  city       _x  state  units          branch branch_id_x  manager  \
0   Mendocino    CA     1   Mendocino  47.0         Brett      NaN
1   Denver       CO     4      Denver  20.0          Joel      NaN
2   Austin       TX     2      Austin  10.0      Charlers      NaN
3   Springfield  MO     5 Springfield  31.0         Sally      NaN
4   Springfield  IL     1         NaN  NaN            NaN      NaN

  branch_id_y city       _y  revenue  units
0   47.0        Mendocino    200.0        1
1   20.0        Denver       83.0         4
2   10.0        Austin       100.0        2
3   NaN         Springfield  NaN          5
4   30.0        Springfield  4.0          1

##Using merge_ordered() 
This exercise uses pre-loaded DataFrames austin and houston that contain weather data from the cities Austin and Houston respectively. They have been printed in the IPython Shell for you to examine.

Weather conditions were recorded on separate days and you need to merge these two DataFrames together such that the dates are ordered. To do this, you'll use pd.merge_ordered(). After you're done, note the order of the rows before and after merging.

In [143]:
#init
houston= pd.read_csv(path+'huston.csv',parse_dates=True)
austin = pd.read_csv(path+'austin.csv',parse_dates=True)

In [144]:
# Perform the first ordered merge: tx_weather
tx_weather = pd.merge_ordered(austin,houston)

# Print tx_weather
print(tx_weather)

# Perform the second ordered merge: tx_weather_suff
tx_weather_suff = pd.merge_ordered(austin,houston,on='date',suffixes=['_aus','_hus'])

# Print tx_weather_suff
print(tx_weather_suff)

# Perform the third ordered merge: tx_weather_ffill
tx_weather_ffill = pd.merge_ordered(austin,houston,on='date',suffixes=['_aus','_hus'],fill_method='ffill')

# Print tx_weather_ffill
print(tx_weather_ffill)

         date  ratings
0  2016-01-01   Cloudy
1  2016-01-01   Cloudy
2  2016-01-04    Rainy
3  2016-01-17    Sunny
4  2016-02-08   Cloudy
5  2016-03-01    Sunny
         date ratings_aus ratings_hus
0  2016-01-01      Cloudy      Cloudy
1  2016-01-04         NaN       Rainy
2  2016-01-17       Sunny         NaN
3  2016-02-08      Cloudy         NaN
4  2016-03-01         NaN       Sunny
         date ratings_aus ratings_hus
0  2016-01-01      Cloudy      Cloudy
1  2016-01-04      Cloudy       Rainy
2  2016-01-17       Sunny       Rainy
3  2016-02-08      Cloudy       Rainy
4  2016-03-01      Cloudy       Sunny

## Using merge_asof()
Similar to pd.merge_ordered(), the pd.merge_asof() function will also merge values in order using the on column, but for each row in the left DataFrame, only rows from the right DataFrame whose 'on' column values are less than the left value will be kept.

This function can be use to align disparate datetime frequencies without having to first resample.

Here, you'll merge monthly oil prices (US dollars) into a full automobile fuel efficiency dataset. The oil and automobile DataFrames have been pre-loaded as oil and auto. The first 5 rows of each have been printed in the IPython Shell for you to explore.

These datasets will align such that the first price of the year will be broadcast into the rows of the automobiles DataFrame. This is considered correct since by the start of any given year, most automobiles for that year will have already been manufactured.

You'll then inspect the merged DataFrame, resample by year and compute the mean 'Price' and 'mpg'. You should be able to see a trend in these two columns, that you can confirm by computing the Pearson correlation between resampled 'Price' and 'mpg'.

In [145]:
# int
oil = pd.read_csv(path+'oil.csv',parse_dates=True)
auto = pd.read_csv(path+'auto.csv',parse_dates=True)

In [146]:

oil.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1970-01-01</td>
      <td>3.35</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1970-02-01</td>
      <td>3.35</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1970-03-01</td>
      <td>3.35</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1970-04-01</td>
      <td>3.35</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1970-05-01</td>
      <td>3.35</td>
    </tr>
  </tbody>
</table>
</div>

In [147]:

auto.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mpg</th>
      <th>cyl</th>
      <th>displ</th>
      <th>hp</th>
      <th>weight</th>
      <th>accel</th>
      <th>yr</th>
      <th>origin</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18.0</td>
      <td>8</td>
      <td>307.0</td>
      <td>130</td>
      <td>3504</td>
      <td>12.0</td>
      <td>1970-01-01</td>
      <td>US</td>
      <td>chevrolet chevelle malibu</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15.0</td>
      <td>8</td>
      <td>350.0</td>
      <td>165</td>
      <td>3693</td>
      <td>11.5</td>
      <td>1970-01-01</td>
      <td>US</td>
      <td>buick skylark 320</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18.0</td>
      <td>8</td>
      <td>318.0</td>
      <td>150</td>
      <td>3436</td>
      <td>11.0</td>
      <td>1970-01-01</td>
      <td>US</td>
      <td>plymouth satellite</td>
    </tr>
    <tr>
      <th>3</th>
      <td>16.0</td>
      <td>8</td>
      <td>304.0</td>
      <td>150</td>
      <td>3433</td>
      <td>12.0</td>
      <td>1970-01-01</td>
      <td>US</td>
      <td>amc rebel sst</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17.0</td>
      <td>8</td>
      <td>302.0</td>
      <td>140</td>
      <td>3449</td>
      <td>10.5</td>
      <td>1970-01-01</td>
      <td>US</td>
      <td>ford torino</td>
    </tr>
  </tbody>
</table>
</div>

In [148]:
# Merge auto and oil: merged
#Merge auto and oil using pd.merge_asof() with left_on='yr' and right_on='Date'. Store the result as merged.
merged = pd.merge_asof(auto,oil,left_on='yr',right_on='Date')

# Print the tail of merged
print(merged.tail())

# Resample merged: yearly
yearly = merged.resample('A',on='Date')[['mpg','Price']].mean()

# Print yearly
print(yearly)

# print yearly.corr()
print(yearly.corr())

TypeError: 'NoneType' object is not callable

## Loading Olympic edition DataFrame
In this chapter, you'll be using The Guardian's Olympic medal dataset.

Your first task here is to prepare a DataFrame editions from a tab-separated values (TSV) file.

Initially, editions has 26 rows (one for each Olympic edition, i.e., a year in which the Olympics was held) and 7 columns: 'Edition', 'Bronze', 'Gold', 'Silver', 'Grand Total', 'City', and 'Country'.

For the analysis that follows, you won't need the overall medal counts, so you want to keep only the useful columns from editions: 'Edition', 'Grand Total', City, and Country.

In [149]:
file_path = 'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv'
print(path + file_path)

filename ='/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/Summer Olympic medalists 1896 to 2008 - EDITIONS.tsv'

/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv

In [150]:
#Import pandas
import pandas as pd

# Create file path: file_path
file_path = 'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv'

# Load DataFrame from file_path: editions
editions = pd.read_csv(path+file_path,sep='\t')

# Extract the relevant columns: editions
editions = editions[['Edition', 'Grand Total', 'City', 'Country']]

# Print editions DataFrame
print(editions)

    Edition  Grand Total         City                     Country
0      1896          151       Athens                      Greece
1      1900          512        Paris                      France
2      1904          470    St. Louis               United States
3      1908          804       London              United Kingdom
4      1912          885    Stockholm                      Sweden
5      1920         1298      Antwerp                     Belgium
6      1924          884        Paris                      France
7      1928          710    Amsterdam                 Netherlands
8      1932          615  Los Angeles               United States
9      1936          875       Berlin                     Germany
10     1948          814       London              United Kingdom
11     1952          889     Helsinki                     Finland
12     1956          885    Melbourne                   Australia
13     1960          882         Rome                       Italy
14     1964         1010        Tokyo                       Japan
15     1968         1031  Mexico City                      Mexico
16     1972         1185       Munich  West Germany (now Germany)
17     1976         1305     Montreal                      Canada
18     1980         1387       Moscow       U.S.S.R. (now Russia)
19     1984         1459  Los Angeles               United States
20     1988         1546        Seoul                 South Korea
21     1992         1705    Barcelona                       Spain
22     1996         1859      Atlanta               United States
23     2000         2015       Sydney                   Australia
24     2004         1998       Athens                      Greece
25     2008         2042      Beijing                       China

## Loading IOC codes DataFrame
Your task here is to prepare a DataFrame ioc_codes from a comma-separated values (CSV) file.

Initially, ioc_codes has 200 rows (one for each country) and 3 columns: 'Country', 'NOC', & 'ISO code'.

For the analysis that follows, you want to keep only the useful columns from ioc_codes: 'Country' and 'NOC' (the column 'NOC' contains three-letter codes representing each country).

In [151]:
# Import pandas
import pandas as pd

# Create the file path: file_path
file_path = 'Summer Olympic medallists 1896 to 2008 - IOC COUNTRY CODES.csv'

# Load DataFrame from file_path: ioc_codes
ioc_codes = pd.read_csv(path+ file_path)

# Extract the relevant columns: ioc_codes
ioc_codes = ioc_codes[['Country','NOC']]

# Print first and last 5 rows of ioc_codes
print(ioc_codes.head())
print(ioc_codes.tail())

           Country  NOC
0      Afghanistan  AFG
1          Albania  ALB
2          Algeria  ALG
3  American Samoa*  ASA
4          Andorra  AND
             Country  NOC
196          Vietnam  VIE
197  Virgin Islands*  ISV
198            Yemen  YEM
199           Zambia  ZAM
200         Zimbabwe  ZIM

##  Building medals DataFrame
Here, you'll start with the DataFrame editions from the previous exercise.

You have a sequence of files summer_1896.csv, summer_1900.csv, ..., summer_2008.csv, one for each Olympic edition (year).

You will build up a dictionary medals_dict with the Olympic editions (years) as keys and DataFrames as values.

The dictionary is built up inside a loop over the year of each Olympic edition (from the Index of editions).

Once the dictionary of DataFrames is built up, you will combine the DataFrames using pd.concat().

## Computing percentage change in fraction of medals won
Here, you'll start with the DataFrames editions, medals, medal_counts, & fractions from prior exercises.

To see if there is a host country advantage, you first want to see how the fraction of medals won changes from edition to edition.

The expanding mean provides a way to see this down each column. It is the value of the mean with all the data available up to that point in time. If you are interested in learning more about pandas' expanding transformations, this section of the pandas documentation has additional information.

In [152]:
# Import pandas
import pandas as pd

# Create empty dictionary: medals_dict
medals_dict = {}

for year in editions['Edition']:

    # Create the file path: file_path
    file_path = 'summer_{:d}.csv'.format(year)
    
    # Load file_path into a DataFrame: medals_dict[year]
    medals_dict[year] = pd.read_csv(path+file_path)
    
    # Extract relevant columns: medals_dict[year]
    medals_dict[year] = medals_dict[['Athlete','NOC','Medal']]
    
    # Assign year to column 'Edition' of medals_dict
    medals_dict[year]['Edition'] = year
    
# Concatenate medals_dict: medals
medals = pd.concat(medals_dict,ignore_index=True)

# Print first and last 5 rows of medals
print(medals.head())
print(medals.tail())

FileNotFoundError: File b'/Users/victor/Documents/Dev/TensorflowPY36CPU/_1_PythonBasic/Pandas/summer_1896.csv' does not exist

## Counting medals by country/edition in a pivot table
Here, you'll start with the concatenated DataFrame medals from the previous exercise.

You can construct a pivot table to see the number of medals each country won in each year. The result is a new DataFrame with the Olympic edition on the Index and with 138 country NOC codes as columns. If you want a refresher on pivot tables, it may be useful to refer back to the relevant exercises in Manipulating DataFrames with pandas.

In [153]:
# Construct the pivot_table: medal_counts
#counted = medals.pivot_table(index='NOC', values='Athlete', columns='Medal', aggfunc='count')
medal_counts = medals.pivot_table(index='Edition',values='Athlete',columns='NOC',aggfunc='count')

# Print the first & last 5 rows of medal_counts
print(medal_counts.head())
print(medal_counts.tail())

KeyError: 'Athlete'

## Computing fraction of medals per Olympic edition
In this exercise, you'll start with the DataFrames editions, medals, & medal_counts from prior exercises.

You can extract a Series with the total number of medals awarded in each Olympic edition.

The DataFrame medal_counts can be divided row-wise by the total number of medals awarded each edition; the method .divide() performs the broadcast as you require.

This gives you a normalized indication of each country's performance in each edition.

In [154]:
import base64

from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):  
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

In [155]:
create_download_link(medals)

<a download="data.csv" href="data:text/csv;base64,LGJyb256ZSxicm9uemUsYnJvbnplLHNpbHZlcixzaWx2ZXIsc2lsdmVyLGdvbGQsZ29sZCxnb2xkCixOT0MsQ291bnRyeSxUb3RhbCxOT0MsQ291bnRyeSxUb3RhbCxOT0MsQ291bnRyeSxUb3RhbAowLFVTQSxVbml0ZWQgU3RhdGVzLDEwNTIuMCxVU0EsVW5pdGVkIFN0YXRlcywxMTk1LjAsVVNBLFVuaXRlZCBTdGF0ZXMsMjA4OC4wCjEsVVJTLFNvdmlldCBVbmlvbiw1ODQuMCxVUlMsU292aWV0IFVuaW9uLDYyNy4wLFVSUyxTb3ZpZXQgVW5pb24sODM4LjAKMixHQlIsVW5pdGVkIEtpbmdkb20sNTA1LjAsR0JSLFVuaXRlZCBLaW5nZG9tLDU5MS4wLEdCUixVbml0ZWQgS2luZ2RvbSw0OTguMAozLEZSQSxGcmFuY2UsNDc1LjAsRlJBLEZyYW5jZSw0NjEuMCxGUkEsRnJhbmNlLDM3OC4wCjQsR0VSLEdlcm1hbnksNDU0LjAsR0VSLEdlcm1hbnksMzUwLjAsR0VSLEdlcm1hbnksNDA3LjAKNSxBVVMsQXVzdHJhbGlhLDQxMy4wLEFVUyxBdXN0cmFsaWEsMzY5LjAsQVVTLEF1c3RyYWxpYSwyOTMuMAo2LElUQSxJdGFseSwzNzQuMCxJVEEsSXRhbHksMzk0LjAsSVRBLEl0YWx5LDQ2MC4wCjcsSFVOLEh1bmdhcnksMzQ1LjAsSFVOLEh1bmdhcnksMzA4LjAsSFVOLEh1bmdhcnksNDAwLjAKOCxTV0UsU3dlZGVuLDMyNS4wLFNXRSxTd2VkZW4sMzQ5LjAsU1dFLFN3ZWRlbiwzNDcuMAo5LE5FRCxOZXRoZXJsYW5kcywzMjAuMCxORUQsTmV0aGVybGFuZHMsMjUwLjAsTkVELE5ldGhlcmxhbmRzLDIxMi4wCjEwLFJPVSxSb21hbmlhLDI4Mi4wLFJPVSxSb21hbmlhLDE4Ny4wLFJPVSxSb21hbmlhLDE1NS4wCjExLEpQTixKYXBhbiwyNzAuMCxKUE4sSmFwYW4sMjI4LjAsSlBOLEphcGFuLDIwNi4wCjEyLFJVUyxSdXNzaWEsMjQwLjAsUlVTLFJ1c3NpYSwyMDYuMCxSVVMsUnVzc2lhLDE5Mi4wCjEzLENBTixDYW5hZGEsMjI3LjAsQ0FOLENhbmFkYSwyMTEuMCxDQU4sQ2FuYWRhLDE1NC4wCjE0LEdEUixFYXN0IEdlcm1hbnksMjI1LjAsR0RSLEVhc3QgR2VybWFueSwyNzEuMCxHRFIsRWFzdCBHZXJtYW55LDMyOS4wCjE1LFBPTCxQb2xhbmQsMjIzLjAsUE9MLFBvbGFuZCwxNzMuMCxQT0wsUG9sYW5kLDEwMy4wCjE2LEZJTixGaW5sYW5kLDIwOS4wLEZJTixGaW5sYW5kLDExOC4wLEZJTixGaW5sYW5kLDEyNC4wCjE3LENITixDaGluYSwxOTMuMCxDSE4sQ2hpbmEsMjUyLjAsQ0hOLENoaW5hLDIzNC4wCjE4LEZSRyxXZXN0IEdlcm1hbnksMTgwLjAsRlJHLFdlc3QgR2VybWFueSwxNjcuMCxGUkcsV2VzdCBHZXJtYW55LDE0My4wCjE5LEJSQSxCcmF6aWwsMTc0LjAsQlJBLEJyYXppbCwxMzkuMCxCUkEsQnJhemlsLDU5LjAKMjAsREVOLERlbm1hcmssMTUyLjAsREVOLERlbm1hcmssMTkyLjAsREVOLERlbm1hcmssMTQ3LjAKMjEsQkVMLEJlbGdpdW0sMTUwLjAsQkVMLEJlbGdpdW0sMTY3LjAsQkVMLEJlbGdpdW0sOTEuMAoyMixOT1IsTm9yd2F5LDE0NC4wLE5PUixOb3J3YXksMTk5LjAsTk9SLE5vcndheSwxOTQuMAoyMyxTVUksU3dpdHplcmxhbmQsMTM4LjAsU1VJLFN3aXR6ZXJsYW5kLDE2NS4wLFNVSSxTd2l0emVybGFuZCw3My4wCjI0LEJVTCxCdWxnYXJpYSwxMzYuMCxCVUwsQnVsZ2FyaWEsMTQyLjAsQlVMLEJ1bGdhcmlhLDUzLjAKMjUsS09SLCJLb3JlYSwgU291dGgiLDEzNS4wLEtPUiwiS29yZWEsIFNvdXRoIiwxOTEuMCxLT1IsIktvcmVhLCBTb3V0aCIsMTQwLjAKMjYsWVVHLFl1Z29zbGF2aWEsMTE4LjAsWVVHLFl1Z29zbGF2aWEsMTc0LjAsWVVHLFl1Z29zbGF2aWEsMTQzLjAKMjcsQ1VCLEN1YmEsMTA5LjAsQ1VCLEN1YmEsMTI2LjAsQ1VCLEN1YmEsMTYwLjAKMjgsVENILEN6ZWNob3Nsb3Zha2lhLDEwNS4wLFRDSCxDemVjaG9zbG92YWtpYSwxNDQuMCxUQ0gsQ3plY2hvc2xvdmFraWEsODAuMAoyOSxFU1AsU3BhaW4sOTIuMCxFU1AsU3BhaW4sMTkzLjAsRVNQLFNwYWluLDkyLjAKMzAsRVVBLFVuaWZpZWQgdGVhbSBvZiBHZXJtYW55LDkyLjAsRVVBLFVuaWZpZWQgdGVhbSBvZiBHZXJtYW55LDEwMC4wLEVVQSxVbmlmaWVkIHRlYW0gb2YgR2VybWFueSw2OC4wCjMxLEFSRyxBcmdlbnRpbmEsODguMCxBUkcsQXJnZW50aW5hLDgzLjAsQVJHLEFyZ2VudGluYSw2OC4wCjMyLFVLUixVa3JhaW5lLDc4LjAsVUtSLFVrcmFpbmUsMzguMCxVS1IsVWtyYWluZSwzMi4wCjMzLEVVTixVbmlmaWVkIHRlYW0sNjYuMCxFVU4sVW5pZmllZCB0ZWFtLDY1LjAsRVVOLFVuaWZpZWQgdGVhbSw5Mi4wCjM0LE5aTCxOZXcgWmVhbGFuZCw2MS4wLE5aTCxOZXcgWmVhbGFuZCwyNy4wLE5aTCxOZXcgWmVhbGFuZCw3Ni4wCjM1LEJMUixCZWxhcnVzLDUzLjAsQkxSLEJlbGFydXMsMjUuMCxCTFIsQmVsYXJ1cywxNC4wCjM2LEdSRSxHcmVlY2UsNDkuMCxHUkUsR3JlZWNlLDYyLjAsR1JFLEdyZWVjZSwzNC4wCjM3LE1FWCxNZXhpY28sNDguMCxNRVgsTWV4aWNvLDE4LjAsTUVYLE1leGljbywxNC4wCjM4LEFVVCxBdXN0cmlhLDQ0LjAsQVVULEF1c3RyaWEsODEuMCxBVVQsQXVzdHJpYSwyMS4wCjM5LExUVSxMaXRodWFuaWEsNDIuMCxMVFUsTGl0aHVhbmlhLDQuMCxMVFUsTGl0aHVhbmlhLDQuMAo0MCxKQU0sSmFtYWljYSwzOS4wLEpBTSxKYW1haWNhLDQwLjAsSkFNLEphbWFpY2EsMjMuMAo0MSxSU0EsU291dGggQWZyaWNhLDM2LjAsUlNBLFNvdXRoIEFmcmljYSwzNy4wLFJTQSxTb3V0aCBBZnJpY2EsMjQuMAo0MixQQUssUGFraXN0YW4sMzQuMCxQQUssUGFraXN0YW4sNDUuMCxQQUssUGFraXN0YW4sNDIuMAo0MyxJTkQsSW5kaWEsMzQuMCxJTkQsSW5kaWEsMTYuMCxJTkQsSW5kaWEsMTI4LjAKNDQsUFJLLCJLb3JlYSwgTm9ydGgiLDMwLjAsUFJLLCJLb3JlYSwgTm9ydGgiLDEyLjAsUFJLLCJLb3JlYSwgTm9ydGgiLDEwLjAKNDUsVVJVLFVydWd1YXksMzAuMCxVUlUsVXJ1Z3VheSwyLjAsVVJVLFVydWd1YXksNDQuMAo0NixOR1IsTmlnZXJpYSwyNy4wLE5HUixOaWdlcmlhLDM4LjAsTkdSLE5pZ2VyaWEsMTkuMAo0NyxLRU4sS2VueWEsMjQuMCxLRU4sS2VueWEsMzEuMCxLRU4sS2VueWEsMjYuMAo0OCxUVVIsVHVya2V5LDIyLjAsVFVSLFR1cmtleSwyMy4wLFRVUixUdXJrZXksMzcuMAo0OSxJUkksSXJhbiwyMi4wLElSSSxJcmFuLDE1LjAsSVJJLElyYW4sMTEuMAo1MCxDSEksQ2hpbGUsMjEuMCxDSEksQ2hpbGUsOS4wLENISSxDaGlsZSwzLjAKNTEsRVNULEVzdG9uaWEsMTkuMCxFU1QsRXN0b25pYSw5LjAsRVNULEVzdG9uaWEsOS4wCjUyLENSTyxDcm9hdGlhLDE4LjAsQ1JPLENyb2F0aWEsMzAuMCxDUk8sQ3JvYXRpYSwzMS4wCjUzLFBPUixQb3J0dWdhbCwxOC4wLFBPUixQb3J0dWdhbCw5LjAsUE9SLFBvcnR1Z2FsLDQuMAo1NCxHSEEsR2hhbmEsMTUuMCxHSEEsR2hhbmEsMS4wLEdIQSxHaGFuYSwKNTUsS0FaLEthemFraHN0YW4sMTQuMCxLQVosS2F6YWtoc3RhbiwxNi4wLEtBWixLYXpha2hzdGFuLDkuMAo1NixFVEgsRXRoaW9waWEsMTQuMCxFVEgsRXRoaW9waWEsNi4wLEVUSCxFdGhpb3BpYSwxOC4wCjU3LFNSQixTZXJiaWEsMTQuMCxTUkIsU2VyYmlhLDEuMCxTUkIsU2VyYmlhLAo1OCxUUEUsVGFpd2FuLDEzLjAsVFBFLFRhaXdhbiwyNy4wLFRQRSxUYWl3YW4sMi4wCjU5LENaRSxDemVjaCBSZXB1YmxpYywxMy4wLENaRSxDemVjaCBSZXB1YmxpYywxOC4wLENaRSxDemVjaCBSZXB1YmxpYywxMC4wCjYwLElOQSxJbmRvbmVzaWEsMTIuMCxJTkEsSW5kb25lc2lhLDE0LjAsSU5BLEluZG9uZXNpYSw5LjAKNjEsVFJJLFRyaW5pZGFkIGFuZCBUb2JhZ28sMTEuMCxUUkksVHJpbmlkYWQgYW5kIFRvYmFnbyw4LjAsVFJJLFRyaW5pZGFkIGFuZCBUb2JhZ28sMS4wCjYyLFNMTyxTbG92ZW5pYSwxMS4wLFNMTyxTbG92ZW5pYSw2LjAsU0xPLFNsb3ZlbmlhLDQuMAo2MyxHRU8sR2VvcmdpYSwxMS4wLEdFTyxHZW9yZ2lhLDIuMCxHRU8sR2VvcmdpYSw1LjAKNjQsWlpYLE1peGVkIHRlYW1zLDEwLjAsWlpYLE1peGVkIHRlYW1zLDE1LjAsWlpYLE1peGVkIHRlYW1zLDIzLjAKNjUsRUdZLEVneXB0LDEwLjAsRUdZLEVneXB0LDcuMCxFR1ksRWd5cHQsNy4wCjY2LE1HTCxNb25nb2xpYSwxMC4wLE1HTCxNb25nb2xpYSw3LjAsTUdMLE1vbmdvbGlhLDIuMAo2NyxNQVIsTW9yb2NjbywxMC4wLE1BUixNb3JvY2NvLDUuMCxNQVIsTW9yb2Njbyw2LjAKNjgsVEhBLFRoYWlsYW5kLDEwLjAsVEhBLFRoYWlsYW5kLDQuMCxUSEEsVGhhaWxhbmQsNy4wCjY5LFJVMSwwLDkuMCxSVTEsMCw3LjAsUlUxLDAsMS4wCjcwLEFaRSxBemVyYmFpamFuLDkuMCxBWkUsQXplcmJhaWphbiwzLjAsQVpFLEF6ZXJiYWlqYW4sNC4wCjcxLFNWSyxTbG92YWtpYSw4LjAsU1ZLLFNsb3Zha2lhLDExLjAsU1ZLLFNsb3Zha2lhLDEwLjAKNzIsSVJMLElyZWxhbmQsOC4wLElSTCxJcmVsYW5kLDguMCxJUkwsSXJlbGFuZCw4LjAKNzMsVVpCLFV6YmVraXN0YW4sOC4wLFVaQixVemJla2lzdGFuLDUuMCxVWkIsVXpiZWtpc3Rhbiw0LjAKNzQsQUxHLEFsZ2VyaWEsOC4wLEFMRyxBbGdlcmlhLDIuMCxBTEcsQWxnZXJpYSw0LjAKNzUsVkVOLFZlbmV6dWVsYSw4LjAsVkVOLFZlbmV6dWVsYSwyLjAsVkVOLFZlbmV6dWVsYSwxLjAKNzYsQ09MLENvbG9tYmlhLDcuMCxDT0wsQ29sb21iaWEsMy4wLENPTCxDb2xvbWJpYSwxLjAKNzcsUEhJLFBoaWxpcHBpbmVzLDcuMCxQSEksUGhpbGlwcGluZXMsMi4wLFBISSxQaGlsaXBwaW5lcywKNzgsQVJNLEFybWVuaWEsNy4wLEFSTSxBcm1lbmlhLDEuMCxBUk0sQXJtZW5pYSwxLjAKNzksSEFJLEhhaXRpLDcuMCxIQUksSGFpdGksMS4wLEhBSSxIYWl0aSwKODAsQk9ILEJvaGVtaWEsNi4wLEJPSCxCb2hlbWlhLDEuMCxCT0gsQm9oZW1pYSwKODEsQkFILEJhaGFtYXMsNS4wLEJBSCxCYWhhbWFzLDkuMCxCQUgsQmFoYW1hcyw5LjAKODIsQU5aLEF1c3RyYWxhc2lhLDUuMCxBTlosQXVzdHJhbGFzaWEsNC4wLEFOWixBdXN0cmFsYXNpYSwyMC4wCjgzLElTUixJc3JhZWwsNS4wLElTUixJc3JhZWwsMS4wLElTUixJc3JhZWwsMS4wCjg0LFBVUixQdWVydG8gUmljbyosNS4wLFBVUixQdWVydG8gUmljbyosMS4wLFBVUixQdWVydG8gUmljbyosCjg1LEJXSSxCcml0aXNoIFdlc3QgSW5kaWVzLDUuMCxCV0ksQnJpdGlzaCBXZXN0IEluZGllcywsQldJLEJyaXRpc2ggV2VzdCBJbmRpZXMsCjg2LExBVCxMYXR2aWEsNC4wLExBVCxMYXR2aWEsMTEuMCxMQVQsTGF0dmlhLDIuMAo4NyxNQVMsTWFsYXlzaWEsMy4wLE1BUyxNYWxheXNpYSwzLjAsTUFTLE1hbGF5c2lhLAo4OCxNREEsTW9sZG92YSwzLjAsTURBLE1vbGRvdmEsMy4wLE1EQSxNb2xkb3ZhLAo4OSxUVU4sVHVuaXNpYSwzLjAsVFVOLFR1bmlzaWEsMi4wLFRVTixUdW5pc2lhLDIuMAo5MCxJU0wsSWNlbGFuZCwyLjAsSVNMLEljZWxhbmQsMTUuMCxJU0wsSWNlbGFuZCwKOTEsVUdBLFVnYW5kYSwyLjAsVUdBLFVnYW5kYSwzLjAsVUdBLFVnYW5kYSwxLjAKOTIsTElCLExlYmFub24sMi4wLExJQixMZWJhbm9uLDIuMCxMSUIsTGViYW5vbiwKOTMsQ1JDLENvc3RhIFJpY2EsMi4wLENSQyxDb3N0YSBSaWNhLDEuMCxDUkMsQ29zdGEgUmljYSwxLjAKOTQsSU9QLEluZGVwZW5kZW50IE9seW1waWMgUGFydGljaXBhbnRzICgxOTkyKSwyLjAsSU9QLEluZGVwZW5kZW50IE9seW1waWMgUGFydGljaXBhbnRzICgxOTkyKSwxLjAsSU9QLEluZGVwZW5kZW50IE9seW1waWMgUGFydGljaXBhbnRzICgxOTkyKSwKOTUsS0daLEt5cmd5enN0YW4sMi4wLEtHWixLeXJneXpzdGFuLDEuMCxLR1osS3lyZ3l6c3RhbiwKOTYsUEFOLFBhbmFtYSwyLjAsUEFOLFBhbmFtYSwsUEFOLFBhbmFtYSwxLjAKOTcsUUFULFFhdGFyLDIuMCxRQVQsUWF0YXIsLFFBVCxRYXRhciwKOTgsWklNLFppbWJhYndlLDEuMCxaSU0sWmltYmFid2UsNC4wLFpJTSxaaW1iYWJ3ZSwxOC4wCjk5LENNUixDYW1lcm9vbiwxLjAsQ01SLENhbWVyb29uLDEuMCxDTVIsQ2FtZXJvb24sMjAuMAoxMDAsRE9NLERvbWluaWNhbiBSZXB1YmxpYywxLjAsRE9NLERvbWluaWNhbiBSZXB1YmxpYywxLjAsRE9NLERvbWluaWNhbiBSZXB1YmxpYywyLjAKMTAxLFNZUixTeXJpYSwxLjAsU1lSLFN5cmlhLDEuMCxTWVIsU3lyaWEsMS4wCjEwMixLU0EsU2F1ZGkgQXJhYmlhLDEuMCxLU0EsU2F1ZGkgQXJhYmlhLDEuMCxLU0EsU2F1ZGkgQXJhYmlhLAoxMDMsVEpLLFRhamlraXN0YW4sMS4wLFRKSyxUYWppa2lzdGFuLDEuMCxUSkssVGFqaWtpc3RhbiwKMTA0LFpBTSxaYW1iaWEsMS4wLFpBTSxaYW1iaWEsMS4wLFpBTSxaYW1iaWEsCjEwNSxNT1osTW96YW1iaXF1ZSwxLjAsTU9aLE1vemFtYmlxdWUsLE1PWixNb3phbWJpcXVlLDEuMAoxMDYsU1VSLFN1cmluYW1lLDEuMCxTVVIsU3VyaW5hbWUsLFNVUixTdXJpbmFtZSwxLjAKMTA3LEFGRyxBZmdoYW5pc3RhbiwxLjAsQUZHLEFmZ2hhbmlzdGFuLCxBRkcsQWZnaGFuaXN0YW4sCjEwOCxCQVIsQmFyYmFkb3MsMS4wLEJBUixCYXJiYWRvcywsQkFSLEJhcmJhZG9zLAoxMDksQkVSLEJlcm11ZGEqLDEuMCxCRVIsQmVybXVkYSosLEJFUixCZXJtdWRhKiwKMTEwLERKSSxEamlib3V0aSwxLjAsREpJLERqaWJvdXRpLCxESkksRGppYm91dGksCjExMSxFUkksRXJpdHJlYSwxLjAsRVJJLEVyaXRyZWEsLEVSSSxFcml0cmVhLAoxMTIsR1VZLEd1eWFuYSwxLjAsR1VZLEd1eWFuYSwsR1VZLEd1eWFuYSwKMTEzLElSUSxJcmFxLDEuMCxJUlEsSXJhcSwsSVJRLElyYXEsCjExNCxLVVcsS3V3YWl0LDEuMCxLVVcsS3V3YWl0LCxLVVcsS3V3YWl0LAoxMTUsTUtELE1hY2Vkb25pYSwxLjAsTUtELE1hY2Vkb25pYSwsTUtELE1hY2Vkb25pYSwKMTE2LE1SSSxNYXVyaXRpdXMsMS4wLE1SSSxNYXVyaXRpdXMsLE1SSSxNYXVyaXRpdXMsCjExNyxOSUcsTmlnZXIsMS4wLE5JRyxOaWdlciwsTklHLE5pZ2VyLAoxMTgsVE9HLFRvZ28sMS4wLFRPRyxUb2dvLCxUT0csVG9nbywKMTE5LFBBUixQYXJhZ3VheSwsUEFSLFBhcmFndWF5LDE3LjAsUEFSLFBhcmFndWF5LAoxMjAsUEVSLFBlcnUsLFBFUixQZXJ1LDE0LjAsUEVSLFBlcnUsMS4wCjEyMSxTQ0csU2VyYmlhLCxTQ0csU2VyYmlhLDE0LjAsU0NHLFNlcmJpYSwKMTIyLE5BTSxOYW1pYmlhLCxOQU0sTmFtaWJpYSw0LjAsTkFNLE5hbWliaWEsCjEyMyxTSU4sU2luZ2Fwb3JlLCxTSU4sU2luZ2Fwb3JlLDQuMCxTSU4sU2luZ2Fwb3JlLAoxMjQsSEtHLEhvbmcgS29uZyosLEhLRyxIb25nIEtvbmcqLDIuMCxIS0csSG9uZyBLb25nKiwxLjAKMTI1LFNSSSxTcmkgTGFua2EsLFNSSSxTcmkgTGFua2EsMi4wLFNSSSxTcmkgTGFua2EsCjEyNixUQU4sVGFuemFuaWEsLFRBTixUYW56YW5pYSwyLjAsVEFOLFRhbnphbmlhLAoxMjcsVklFLFZpZXRuYW0sLFZJRSxWaWV0bmFtLDIuMCxWSUUsVmlldG5hbSwKMTI4LEVDVSxFY3VhZG9yLCxFQ1UsRWN1YWRvciwxLjAsRUNVLEVjdWFkb3IsMS4wCjEyOSxMVVgsTHV4ZW1ib3VyZywsTFVYLEx1eGVtYm91cmcsMS4wLExVWCxMdXhlbWJvdXJnLDEuMAoxMzAsQUhPLE5ldGhlcmxhbmRzIEFudGlsbGVzKiwsQUhPLE5ldGhlcmxhbmRzIEFudGlsbGVzKiwxLjAsQUhPLE5ldGhlcmxhbmRzIEFudGlsbGVzKiwKMTMxLENJVixDb3RlIGQnSXZvaXJlLCxDSVYsQ290ZSBkJ0l2b2lyZSwxLjAsQ0lWLENvdGUgZCdJdm9pcmUsCjEzMixJU1YsVmlyZ2luIElzbGFuZHMqLCxJU1YsVmlyZ2luIElzbGFuZHMqLDEuMCxJU1YsVmlyZ2luIElzbGFuZHMqLAoxMzMsU0VOLFNlbmVnYWwsLFNFTixTZW5lZ2FsLDEuMCxTRU4sU2VuZWdhbCwKMTM0LFNVRCxTdWRhbiwsU1VELFN1ZGFuLDEuMCxTVUQsU3VkYW4sCjEzNSxUR0EsVG9uZ2EsLFRHQSxUb25nYSwxLjAsVEdBLFRvbmdhLAoxMzYsQkRJLEJ1cnVuZGksLEJESSxCdXJ1bmRpLCxCREksQnVydW5kaSwxLjAKMTM3LFVBRSxVbml0ZWQgQXJhYiBFbWlyYXRlcywsVUFFLFVuaXRlZCBBcmFiIEVtaXJhdGVzLCxVQUUsVW5pdGVkIEFyYWIgRW1pcmF0ZXMsMS4wCg==" target="_blank">Download CSV file</a>

In [155]:
# Set Index of editions: totals
totals = editions.set_index('Edition')

# Reassign totals['Grand Total']: totals
totals = totals['Grand Total']

# Divide medal_counts by totals: fractions
fractions = medal_counts.divide(totals,axis='rows')

# Print first & last 5 rows of fractions
print(fractions.head())
print(fractions.tail())

## Computing percentage change in fraction of medals won
Here, you'll start with the DataFrames editions, medals, medal_counts, & fractions from prior exercises.

To see if there is a host country advantage, you first want to see how the fraction of medals won changes from edition to edition.

The expanding mean provides a way to see this down each column. It is the value of the mean with all the data available up to that point in time. If you are interested in learning more about pandas' expanding transformations, this section of the pandas documentation has additional information.